

<div class="container space-1">
  <!-- Title -->
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="text-center mb-9">
        <h2 class="text-primary font-weight-normal">Symptomatic COVID-19 Testing Form for <span class="font-weight-semi-bold"><%= @practice.practice_name %></span></h2>
        <p>Due to the increased volume of phone and email queries about  Coronavirus testing in light of broadening of testing criteria announced by the HSE - we are now asking symptomatic patients to fill out the following questionnaire to help us assess you more efficiently. </p>
        <p>We understand our patients are concerned for themselves and their loved ones and we can assure you we are doing everything we can to operate as normally as possible in these extraordinary times, while at the same time minimising the risk of exposure to our patients or indeed our practice. </p>
        <h3 class="mb-7 text-center">Please fill out the below form to help us triage your symptoms to see if you need testing for Covid-19*</h3>
      </div>
    </div>
  </div>

  <!-- End Title -->

  <div class="w-lg-80 mx-auto">

    <!-- Contacts Form -->
    <%= form_for(@practice_form, url: submit_practice_form_path(practice: @practice.slug)) do |f| %>
      <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              First Name
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :first_name, class: "form-control", placeholder: "John", required: true, "data-msg": "Please enter your name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Last Name
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :last_name, class: "form-control", placeholder: "Smith", required: true, "data-msg": "Please enter your name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->
    </div>
      <div class="row">

         <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              PPSN - If GMS or doctor visit card patient enter 0
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :ppsn, class: "form-control", placeholder: "1234567W", required: true, "data-msg": "Please enter your PPSN.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->

         <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Mobile Phone Number
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :phone, class: "form-control", placeholder: "0861234567", required: true, "data-msg": "Please enter your mobile phone number.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->

        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Email
              <span class="text-danger">*</span>
            </label>

            <%= f.email_field :email, class: "form-control", placeholder: "Your email", required: true, "data-msg": "Please enter your name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Date of Birth
              <span class="text-danger">*</span>
            </label>

            <%= f.date_field :dob, class: "form-control", required: true %>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <hr>
      <div class="row mt-6">

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Address 1
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :address_1, class: "form-control", placeholder: "Address 1", required: true, "data-msg": "Please enter your address.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Address 2
            </label>

            <%= f.text_field :address_2, class: "form-control", placeholder: "Address 2" %>
          </div>
        </div>
        <!-- End Input -->
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              City
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :city, class: "form-control", placeholder: "City", required: true, "data-msg": "Please enter your city.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label" for="practice[county]">
              County
              <span class="text-danger">*</span>
            </label>

            <%= f.select :county, IRELAND_COUNTIES, {prompt: 'Select One'}, { class: 'form-control', required: true } %>
          </div>
        </div>
        <!-- End Input -->
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Eircode
              <span class="text-danger">*</span>
            </label>

          <small class="form-text text-muted mb-3">Don't know your Eircode use <a href="https://finder.eircode.ie/#/" target="_blank">Eircode Finder</a> </small>



            <%= f.text_field :postcode, class: "form-control", placeholder: "Eircode", required: true, "data-msg": "Please enter your Eircode.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Country
              <span class="text-danger">*</span>
            </label>

            <%= f.text_field :country, class: "form-control", placeholder: "Ireland", required: true, "data-msg": "Please enter your country.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
          </div>
        </div>
        <!-- End Input -->
      </div>


      <hr>
      <div class="row mt-6">

        <!-- Input -->
        <div class="col-sm-12 mb-6">
          <label class="form-label">
            Symptoms
          </label>

          <small class="form-text text-muted mb-3">Please outline your symptoms below:</small>

          <div class="form-check mb-2">
            <%= f.check_box :fever, class: "symptoms-checkbox" %>
            <%= f.label :fever, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :cough, class: "symptoms-checkbox" %>
            <%= f.label :cough, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :shortness_of_breath, class: "symptoms-checkbox" %>
            <%= f.label :shortness_of_breath, "Shortness of Breath", class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :sore_throat, class: "symptoms-checkbox" %>
            <%= f.label :sore_throat, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :runny_nose, class: "symptoms-checkbox" %>
            <%= f.label :runny_nose, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :diarrhoea, class: "symptoms-checkbox" %>
            <%= f.label :diarrhoea, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :aches_pains, class: "symptoms-checkbox" %>
            <%= f.label :aches_pains, "Aches & Pains", class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :vomiting, class: "symptoms-checkbox" %>
            <%= f.label :vomiting, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :fatigue, class: "symptoms-checkbox" %>
            <%= f.label :fatigue, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :sudden_loss_of_sense_of_smell, class: "symptoms-checkbox" %>
            <%= f.label :sudden_loss_of_sense_of_smell, class: "form-check-label" %>
          </div>

          <div class="form-check mb-2">
            <%= f.check_box :headache, class: "symptoms-checkbox" %>
            <%= f.label :headache, class: "form-check-label" %>
          </div>

          <div class="form-check">
            <%= check_box_tag :no_symptoms %>
            <%= label_tag :no_symptoms, "No symptoms", class: "form-check-label", id: "no-symptoms-checkbox" %>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <div class="row">
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Duration of Symptoms
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">When did you start displaying symptoms?</small>
              <%= f.select :symptoms_duration, [['No Symptoms', 'No Symptoms'], ['Today', 'Today'], ['1 - 3 days ago', '1 - 3 days ago'], ['3 - 5 days ago', '3 - 5 days ago'], ['5 - 7 days ago', '5 - 7 days ago'], ['More than 7 days ago', 'More than 7 days ago']], {}, class: "custom-select" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Severity of Symptoms
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">How severe are your symptoms?</small>
              <%= f.select :severity, [['No Symptoms', 'No Symptoms'], ['Mild', 'Mild'], ['Moderate', 'Moderate'], ['Severe (please call us or an ambulance)', 'Severe']], {}, class: "custom-select" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Are you currently self isolating?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">Anybody with respiratory symptoms of any kind is now advised to self-isolate. </small>
              <%= f.select :self_isolating, [['Yes, I am self isolating', true], ['No, I am not self isolating', false]], {:prompt => "Please select an option"}, class: "custom-select" %>
            </div>
          </div>
        </div>

        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Coronavirus Contact
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">Have you been in close contact with a confirmed coronavirus case?</small>
              <%= f.select :coronavirus_contact, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              New or Existing Patient
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">Are you an existing patient of this practice or are you a new patient</small>
              <%= f.select :existing_patient, [['Existing Patient', true], ['New Patient', false]], {:prompt => "Please select an option"}, class: "custom-select" %>

            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Healthcare Worker
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">Are you a healthcare worker with patient-facing contact?</small>
              <%= f.select :healthcare_worker, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Are you in an at risk group?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">History of ischaemic heart disease, high blood pressure, history of Stroke/TIA, Type II diabetes, obesity, active malignancy in last 5 years, chronic lung disease, chronic renal disease, chronic liver disease.</small>
              <%= f.select :risk_group, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Are you a household contact of an at-risk group?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <%= f.select :household_risk_group, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Do you work in the prison service?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <%= f.select :prison_service_worker, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Are you currently pregnant?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <%= f.select :pregnant, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Are you a staff or resident in a long-term care facility or nursing home?
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <%= f.select :care_facility_staff, [['Yes', true], ['No', false]], {:prompt => "Please select an option"}, class: "custom-select", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Brief outline of your symptoms/concerns
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <small class="form-text text-muted mb-3">Please give a brief outline of your symptoms, when they started and your concern re testing. If you have any other symptoms not covered in the checklist above, please let us know here also. </small>
              <%= f.text_area :symptoms_outline, class: "form-control", required: true %>

            </div>
          </div>
        </div>
      </div>
      <div class="js-form-message mb-6">
        <div class="form-check">
          <%= check_box_tag 'agree_term_condition', "", false, required: true, class: "form-check-input"%>
          <label class="form-check-label" for="agree_term_condition" id="agree_term_condition_label">
            Agree to
            <%= link_to ' privacy policy.', PRIVACY_LINK, target: "_blank" %>
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <%= f.submit "Submit Form", class: "btn btn-primary btn-wide transition-3d-hover mb-4" %>
          <p class="small">By submitting this form, I consent to my data being stored, analysed and transferred to this GP practice for screening. I agree to the website <a href="https://www.rapicmedical.com/privacy" target="_blank">privacy policy</a> and I also agree to take responsibility to follow up with up GP practice directly if I have not heard back from them within 48 hours. You'll receive an email with your details shortly.</p>
        </div>
      </div>
    <% end %>
    <!-- End Contacts Form -->
  </div>
</div>

<script>
  PracticeForm.init();
</script>