<main id="content" role="main">
  <div class="container space-1">
    <div class="row justify-content-md-between align-items-center">
      <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
        <h1 class="display-4 font-size-md-down-5 mb-3">COVID-19 GP Screening Form</h1>
        <p class="h5">
          Free online GP screening forms to facilitate patient screening for <span class="text-primary">COVID-19</span>
        </p>
        <ul class="pl-3 text-secondary p-3 pl-4">
          <li>Two minutes to setup - No website needed</li>
          <li>Easy to use - No technical expertise required</li>
          <li>Reduce phone consult time by 50%</li>
        </ul>

        <div class="d-flex align-items-center flex-wrap">
          <%= link_to "Add My Practice", new_practice_registration_path, class: "btn btn-soft-primary btn-wide transition-3d-hover" %>
          <!-- End Fancybox -->
        </div>
      </div>

      <div id="SVGellipseMockupMobile" class="col-md-6 mb-7">
        <!-- SVG Mockup -->
        <figure class="ie-ellipse-mockup">
          <img class="js-svg-injector" src="<%= image_url('svg/illustrations/ellipse-mockup.svg') %>" alt="Image Description"
               data-img-paths='[
                 {"targetId": "#SVGellipseMockupImg1", "newPath": "<%= image_url('header1.jpg') %>"}
               ]'
               data-parent="#SVGellipseMockupMobile">
        </figure>
        <!-- End SVG Mockup -->
      </div>
    </div>
  </div>
</main>
<section class="bg-light">
  <div class="container space-2">
  	<!-- Title -->
  	<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
  		<h2 class="text-primary">How It
  			<span class="font-weight-semi-bold">Works</span>
  		</h2>
  		<p>Four simple steps to allow easy patient screening for COVID-19. For a detailed walk through see our video <a href="https://youtu.be/MjJqe-wahOI" target="_blank">here</a> on how to get started. <br><br><a href="https://youtu.be/MjJqe-wahOI" target="_blank"><%= image_tag('Video_Thumbnail.jpg', class: "img-fluid mb-5 mb-md-6", style: "max-height:300px;") %></a></p>
  	</div>
  	<!-- End Title -->

  	<div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <div class="row">
          <div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">01.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Initial Contact</h3>
      					<p>Patient contacts the practice looking for testing.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">02.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Online Screening Form</h3>
      					<p>Reception shares website link by email, website, or text message and directs the patient to fill this in.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">03.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Direct Information</h3>
      					<p>This generates a form which is emailed directly to the practice email account.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7 mb-sm-0">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">04.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Patient Notes</h3>
      					<p>This can be copied and pasted into the patient’s chart, allowing the GP to then add notes and refer the patient on for testing via Healthlink if appropriate.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>
        </div>

        <div class="row">
          <div class="col-12 text-center mt-7">
            <div class="">
              <%= link_to "Add My Practice", new_practice_registration_path, class: "btn btn-soft-primary btn-wide transition-3d-hover" %>
              <!-- End Fancybox -->
            </div>
          </div>

        </div>
      </div>
  	</div>
  </div>

</section>
<section>
  <div class="container space-2">
  	<!-- Title -->
  	<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
  		<h3 class="text-primary">Created and
  			<span class="font-weight-semi-bold">Designed By</span>
  		</h3>
  	</div>
  	<!-- End Title -->

    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <div class="row mb-4">
          <div class="col-12 text-center mb-4" style="font-size:1.6em;">
            <%= link_to "Dr Knut Moe", "http://www.churchtownfamilypractice.ie/", target: "_blank", class: "text-secondary" %>
          </div>
        </div>

        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
      		<h3 class="text-primary">
      			<span class="font-weight-semi-bold">Built </span> by
      		</h3>
      	</div>
      	<div class="row align-items-center">
          <div class="col-12 col-lg-3 pl-4 pr-4 text-center mb-4 mt-4 mx-auto">
            <%= link_to image_tag('gpbuddy.png', class: 'img-fluid rounded', style: 'max-width:210px;'), "https://gpbuddy.ie", target: "_blank" %>
          </div>
          <div class="col-12 col-lg-3 pl-4 pr-4 text-center mb-4 mt-4 mx-auto">
            <%= link_to image_tag('medvault.jpg', class: 'img-fluid', style: 'max-width:210px;'), "https://www.medvault.ie/", target: "_blank" %>
          </div>
          <div class="col-12 col-lg-3 pl-4 pr-4 text-center mb-4 mt-4 mx-auto">
            <%= link_to image_tag('minicorp.svg', class: 'img-fluid', style: 'max-height:80px;'), "https://www.minicorphq.com", target: "_blank" %>
          </div>
        </div>

        <div class="w-100 text-center mx-md-auto mb-4 mt-4">
          <h3 class="text-primary">
            <span class="font-weight-semi-bold">Supported </span> by the HSE Spark Innovation Program
          </h3>
        </div>
        <div class="align-items-center text-center">
          <%= image_tag('logos/Spark Programme Main Logo Horizontal.png', class: 'img-fluid spark-logo') %>
        </div>
      </div>
    </div>


  </div>
</section>
