<div class="container space-1">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
    <h2 class="text-primary font-weight-normal">Create a free <span class="font-weight-semi-bold">GP</span> Account</h2>
    <p>Please fill in your practice email address and phone number and we’ll automatically generate a form for your
      practice to share with patients.</p>
  </div>
  <!-- End Title -->

  <div class="w-lg-80 mx-auto">
    <!-- Contacts Form -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "practices/shared/error_messages", resource: resource %>

    <div class="row">
      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            First Name
            <span class="text-danger">*</span>
          </label>

          <%= f.text_field :first_name, class: "form-control", placeholder: "John", required: true, "data-msg": "Please enter your name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            Last Name
            <span class="text-danger">*</span>
          </label>

          <%= f.text_field :last_name, class: "form-control", placeholder: "Smith", required: true, "data-msg": "Please enter your name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            Practice Email address<br /><small>(This is where the screening forms will be sent)</small>
            <span class="text-danger">*</span>
          </label>

          <%= f.email_field :email, class: "form-control", placeholder: "john@examplepractice.ie", required: true, "data-msg": "Please enter a valid email address.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            <br />Password
            <span class="text-danger">*</span>
          </label>

          <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true, "data-msg": "Please enter a password.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->

      <div class="w-100"></div>


      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            <br />
            Practice Full Name
            <span class="text-danger">*</span>
          </label>

          <%= f.text_field :practice_full_name, class: "form-control", placeholder: "Example", required: true, "data-msg": "Please enter your full practice name.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            Enter Preferred Name for screening form weblink<br /><small>(Please keep this short and simple to make it easy to communicate)</small>
            <span class="text-danger">*</span>
          </label>

          <%= f.text_field :practice_name, class: "form-control", placeholder: "Example", required: true, "data-msg": "Please enter your preferred name for your weblink", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->



      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label class="form-label">
            Practice Phone Number
            <span class="text-danger">*</span>
          </label>

          <%= f.text_field :practice_phone, class: "form-control", placeholder: "014459852", required: true, "data-msg": "Please enter a valid phone number.", "data-error-class": "u-has-error", "data-success-class": "u-has-success" %>
        </div>
      </div>
      <!-- End Input -->
    </div>

    <!-- Input -->
    <div class="js-form-message mb-6">
      <label class="form-label">
        Practice Address
        <span class="text-danger">*</span>
      </label>

      <div class="input-group">
        <%= f.text_area :address, class: "form-control", placeholder: "Practice Address", required: true, "data-msg": "Please enter a reason.", "data-error-class": "u-has-error", "data-success-class": "u-has-success", rows: '4' %>
      </div>
    </div>
    <!-- End Input -->

    <div class="js-form-message mb-6">
      <div class="form-check">
        <%= check_box_tag 'agree_term_condition', "", false, required: true, class: "form-check-input"%>
        <label class="form-check-label" for="agree_term_condition" id="agree_term_condition_label">
          Agree to
          <%= link_to ' terms and conditions.', TERMS_AND_CONDITIONS_LINK, target: "_blank" %>
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>

    <div class="text-center">
      <%= f.submit "Create Account", class: "btn btn-primary btn-wide transition-3d-hover mb-4" %>
      <p class="small">Your custom practice screening form will be automatically generated as soon as you create your
        account. Simply click the blue "My Practice Form" button in the top right hand corner to access it. By clicking
        the create account button you are agreeing to these <a href="https://www.rapicmedical.com/terms"
          target="_blank">terms and conditions</a>. </p>
    </div>
    <% end %>
    <!-- End Contacts Form -->
  </div>
</div>