<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--white-bg-on-scroll" data-header-fix-moment="500"
  data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/">
          <span class="u-header__navbar-brand-text"><i class="fad fa-paste mr-1"></i> Screening Form</span>
        </a>

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
          aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <% if current_admin %>
              <%= link_to "Practices", admins_practices_path, class: 'nav-link u-header__nav-link' %>
              <%= link_to "Logout", destroy_admin_session_path, class: 'nav-link u-header__nav-link', method: :delete %>
            <% else %>
              <%= link_to "For support call 086 8621090 (9am-6pm) or email support@gpbuddy.ie", "#", class: 'nav-link u-header__nav-link' %>
              <li class="nav-item u-header__nav-last-item">
                <% if current_practice %>
                  <%= link_to "My Practice Form", new_practice_form_path(practice: current_practice.slug), class: 'btn btn-sm btn-primary transition-3d-hover' %>
                <% else %>
                  <%= link_to "Add My Practice", new_practice_registration_path, class: 'btn btn-sm btn-primary transition-3d-hover' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- End Navigation -->

      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
