
<p class="mb-2"><b>Name:</b> <%= @practice_form.first_name %> <%= @practice_form.last_name %></p>
<p class="mb-2"><b>Date of Birth:</b> <%= @practice_form.dob %></p>
<p class="mb-2"><b>PPS Number:</b> <%= @practice_form.ppsn %></p>
<p class="mb-2"><b>Address:</b> <%= @practice_form.address_1 %>, <%= @practice_form.address_2 %>, <%= @practice_form.city %>, <%= @practice_form.county %>, <%= @practice_form.postcode %></p>
<p class="mb-2"><b>Mobile phone:</b> <%= @practice_form.phone %></p>
<p class="mb-2"><b>Email:</b> <%= @practice_form.email %></p>
<p class="mb-2"><b>Symptoms:</b> <%= JSON.parse(@practice_form.symptoms).to_a.to_sentence %></p>
<p class="mb-2"><b>Duration of symptoms:</b> <%= @practice_form.symptoms_duration %></p>
<p class="mb-2"><b>Severity of symptoms:</b> <%= @practice_form.severity %></p>
<p class="mb-2"><b>Recent travel:</b> <%= @practice_form.recent_travel.to_s.titleize %></p>
<p class="mb-2"><b>Self isolating:</b> <%= @practice_form.self_isolating.to_s.titleize %></p>
<p class="mb-2"><b>Outline of symptoms:</b> <%= @practice_form.symptoms_outline %></p>
<p class="mb-2"><b>Pre-existing medical conditions:</b> <%= @practice_form.pre_existing_medical_conditions %></p>
<p class="mb-2"><b>Existing patient:</b> <%= @practice_form.existing_patient.to_s.titleize %></p>
<div style="display: none;">&#10175;</div>
